body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #004466;
    color: #333;
}

a,
a:visited {
    color: white;
}

a:hover {
    color: #b1c7ff;
}

header {
    color: white;
    padding: 1em 0;
    text-align: center;
    border-radius: 8px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.hero {
    background-color: #e0f0ff;
    padding: 2em;
    text-align: center;
}

section {
    padding: 2em;
    max-width: 900px;
    margin: auto;
}

.project {
    background-color: white;
    padding: 1em;
    margin-bottom: 1em;
    border-left: 4px solid #004466;
    border-radius: 6px;
    color: black;
}

footer {
    background-color: #004466;
    color: white;
    text-align: center;
    padding: 1em;
    margin-top: 2em;
}

a:hover {
    text-decoration: underline;
}

.img-container {
    border-radius: 8px;
    overflow: hidden;
    width: fit-content;
    height: 300px;
    box-shadow: #01002496 2px 2px 6px;
}

.img-container.center {
    margin: 0 auto;
}

.main-container {
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.3);
}